/* AniDB Tweaks SASS */

// odd rows are darker than the even rows
// Red
$watch-odd: #cc9999;
$watch-even: #dda7a7;
// Yellow
$watching-odd: #ffff99;
$watching-even: #ffffcc;
// Brown
$dropped-odd: #a1887f;
$dropped-even: #8d6e63;
// Grey
$none-odd: #bdbfc3;
$none-even: rgba(0,0,0,0);
// 
$orange-odd: #ffcc80;
$orange-even: #FFE0B2;

.wishlist {
    &.wishlist_type_towatch {
        background-color: $watch-even;
        &.g_odd {
            background-color: $watch-odd;
        }
    }
    &.wishlist_type_toget {
        background-color: $orange-even;
        &.g_odd {
            background-color: $orange-odd;
        }
    }
}

tr.restricted {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: initial
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: initial;
    }
}


.mylist {
    &.liststate_watching {
        background-color: $watching-even !important;
        &.g_odd {
            background-color: $watching-odd !important;
        }
    }
    &.liststate_dropped {
        opacity: 0.25;
        &:hover {
            opacity: 1;
        }
    }
    &.liststate_collecting {
        background-color: $watch-even !important;
        &.g_odd {
            background-color: $watch-odd !important;
        }
    }
}

